/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css");
.sidebar-more {
  position: fixed;
  right: 0%;
  top: 13%;
  height: 76vh;
  /* background: black; */
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar-more .logo-details-more {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar-more .logo-details-more .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar-more .logo-details-more .logo_name-more {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar-more.open .logo-details-more .icon,
.sidebar-more.open .logo-details-more .logo_name-more {
  opacity: 1;
}
.sidebar-more .logo-details-more #btn-more {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar-more.open .logo-details-more #btn-more {
  text-align: right;
}
.sidebar-more i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar-more .nav-list-more {
  margin-top: 20px;
  height: 100%;
}
.sidebar-more li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar-more li .tooltip-more {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar-more li:hover .tooltip-more {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-more.open li .tooltip-more {
  display: none;
}
.sidebar-more input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar-more.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar-more .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar-more.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar-more .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar-more li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar-more li a:hover {
  background: #fff;
}
.sidebar-more li a .links_name-more {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar-more.open li a .links_name-more {
  opacity: 1;
  pointer-events: auto;
}
.sidebar-more li a:hover .links_name-more,
.sidebar-more li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar-more li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar-more li.profile-more {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar-more.open li.profile-more {
  width: 250px;
}
.sidebar-more li .profile-more-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar-more li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar-more li.profile-more .name,
.sidebar-more li.profile-more .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar-more li.profile-more .job {
  font-size: 12px;
}
.sidebar-more .profile-more #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar-more.open .profile-more #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar-more.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
@media (max-width: 420px) {
  .sidebar-more li .tooltip-more {
    display: none;
  }
}
