.container-driver-view-details {
  max-width: 85%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header .profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
  border: 6px solid #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.profile-header .driver-info {
  flex: 1;
}

.profile-header h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.customer-info-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.customer-profile-picture-container {
  position: relative;
  width: 100px; /* Adjust the size of the container as needed */
  height: 100px; /* Adjust the size of the container as needed */
  overflow: hidden; /* Hide any overflow */
  border-radius: 50%;
  /* background-color: aqua; */
}

.customer-profile-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
    background-color: aqua;
}


.route-info h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.customer-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.customer-card .customer-info-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.customer-card .customer-info-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.customer-card h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.customer-card p {
  font-size: 18px;
  margin-bottom: 12px;
  color: #666;
}

.customer-card .customer-info-card .card-header {
  background-color: #e0e0e0;
  padding: 8px;
  border-radius: 8px 8px 0 0;
}
