.animated-text-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.animated-text {
  animation: textAnimation 3s infinite; /* Adjust the duration and animation as needed */
}

@keyframes textAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Add more styling as needed */
