/*Demo*/
.tyre {
  background: transparent;
  border: 20px solid #d73744;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  animation: rotateTyre 0.2s infinite linear, moveTyre 2s infinite linear;
}

.tyre .inner-circle {
  background-color: red;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tyre:before {
  content: "";
  background: #d73744;
  position: absolute;
  height: 30px;
  width: 15px;
  left: 50%;
  top: calc(50% - 25px);
  transform: translate(-50%, -50%) rotate(180deg); /* Rotate the element */
  box-shadow: 0 -50px 0 #d73744; /* Adjust shadow direction */
  border-top-left-radius: 60%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 60%;
}

.tyre:after {
  content: "";
  background: #d73744;
  position: absolute;
  height: 30px;
  width: 15px;
  left: calc(50% + 25px);
  top: 50%;
  transform: rotate(90deg) translate(-50%, -50%);
  transform-origin: left top;
  box-shadow: 0 50px 0 #d73744;
  /*   border-radius: 50%; */
  /*   border-radius-top: 30%; */
  border-top-left-radius: 60%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 60%;
}

/*Keyframes*/
@keyframes rotateTyre {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes moveTyre {
  from {
    left: 10%;
  }

  to {
    left: 80%;
  }
}
