/* this is the style for the container inside the app.js */
/* you can remove it and just use the card CSS */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(75, 53, 118);
  background: linear-gradient(
    219deg,
    rgba(75, 53, 118, 1) 33%,
    rgba(248, 177, 60, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  gap: 50px;
}

.sideCard {
  transform-style: preserve-3d;
  position: relative;
  padding: 25px;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(
    25deg,
    rgba(75, 53, 118, 1) 0%,
    rgba(248, 177, 60, 1) 86%
  );
  transition: all 0.1s ease;
}
.car-img {
  position: relative;
  width: 90%;
  transition: all 0.5s ease;
}
.title,
.sideCard p {
  width: 100%;
  color: rgb(220, 220, 220);
}
.title,
.sideCard h2 {
  width: 100%;
  font-weight: 700;
  font-size: larger;
  color: rgb(220, 220, 220);
}
.sizes-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.sizes-box li {
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  background-color: rgb(220, 220, 220);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.sizes-box li:hover {
  background-color: rgb(134, 134, 134);
}
.button-box {
  width: 100%;
}
.purchase {
  cursor: pointer;
  width: 100%;
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: rgba(248, 177, 60, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.purchase:hover {
  background-color: rgb(222, 157, 54);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
    /* margin: 100% 100%; */
  }

  .sideCard {
    width: 100%;
    /* height: auto; */
  }

  .car-img {
    width: 70%;
  }

  .sizes-box {
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
  }

  .sizes-box li {
    padding: 0.3rem 1rem;
  }

  .button-box {
    text-align: center;
  }
}

/* .main {
    position: relative;
    top: 10px; right: 10px;
    width: 200px;
    height: 200px;
    background: #ccc; 

}*/
.badge {
  position: absolute;
  top: -30px;
  width: 35%;
  right: -10px;
  background-color: #2879fe;
  padding: 15px;
  border-radius: 50px 0 0 10px;
  font-family: cursive;
}
.badge:after {
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #2879fe;
  content: "";
}
