/* DriverCard.css */

.driver-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.responsive-card {
  width: 300px;
  margin: 10px;
}

/* Add any other styling you need here */

/* AdvertisementCard styling (position it in the top-right corner) */
.AdvertisementCard {
  position: fixed;
  top: 20px;
  right: 205px;
  z-index: 2;
}
