.slider {
  overflow: hidden;
  position: relative;
  width: 90%;
  padding-left: 5%;
  height: 35vh;
  background-size: cover;
  background-position: center center;
}

.slider .slider-content {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

/* Define styles for individual slides */
.slider .slide {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
